.HTML {
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0;
}
.InnerDiv {
  background-color: white;
  height: 50vh;
  width: 50vh;
  border-radius: 10px;
  border: gray 2px solid;
  padding: 10px;
}
.Scroll {
  width: 50vh;
  margin-top: 30px;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow: scroll;
}
.button {
  height: 40px;
  width: 150px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  border: black 2px solid;
  transition: all 0.5s;
}
.button:hover {
  height: 50px;
  width: 170px;
  font-size: 25px;
  border: red 3px solid;
}
.Lap {
  margin: 10px;
  border: black 2px solid;
  width: 48vh;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerDiv {
  width: 50vh;
  display: flex;
  justify-content: space-around;
}
